.main-conteyner {
    width: 95%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buildFrom {
    width: 25%;
    background: var(--box-bg);
    color: var(--text-color);
    box-shadow: 1px 1px 6px var(--box-shadow-color);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maghta,
.paye,
.teshte,
.hour {
    position: relative;
    width: 95%;
}

.selectmaghta,
.selectpaye,
.selectTeshte,
.selecthour {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--box-shadow-color);
    padding: 8px 5px;
    border-radius: 10px;
}

.selectmaghta p,
.selectpaye p,
.selectTeshte p,
.selecthour p {
    margin: 0;
}

.value-maghta {}

.opshionCon,
.opshionCon-paye,
.opshionCon-teshte,
.opshionCon-hour {
    width: 95%;
    margin: 0 auto;
    background: var(--box-bg);
    box-shadow: 1px 1px 4px var(--box-shadow-color);
    padding: 2px;
    border-radius: 6px;
    position: absolute;
    top: 43px;
    left: 10px;
    display: none;
    z-index: 5;
}

.opshionCon-maghta,
.opshionCon-hour-item {
    transition: background ease 0.3s;
    height: 35px;

}

.opshionCon-maghta:hover {
    background: var(--theme-primary);
    color: var(--white-color);
}

.opshionCon-maghta p {
    margin: 0px 0;
}

.buildFrom-submit {
    width: 95%;
    background: var(--theme-primary);
    color: var(--white-color);
    border: none;
    height: 35px;
    border-radius: 10px;
    margin: 10px 0;
}

.show {
    display: block !important;
}


.anime {
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

@media only screen and (max-width:1024px) {
    .buildFrom {
        width: 40%;
    }
}

@media only screen and (max-width:768px) {
    .buildFrom {
        width: 65%;
    }
}