/* استایل های مربوط به main */
.main-conteyner {
    width: 95%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buildFrom {
    width: 25%;
    background: var(--box-bg);
    color: var(--text-color);
    box-shadow: 1px 1px 6px var(--box-shadow-color);
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maghta,
.paye,
.teshte,
.hour,
.start {
    position: relative;
    width: 95%;
}

.selectmaghta,
.selectpaye,
.selectTeshte,
.selecthour,
.selectstart {
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--box-shadow-color);
    padding: 8px 5px;
    border-radius: 10px;
}

.selectmaghta p,
.selectpaye p,
.selectTeshte p,
.selecthour p,
.selectstart p {
    margin: 0;
}

.opshionCon,
.opshionCon-paye,
.opshionCon-teshte,
.opshionCon-hour,
.opshionCon-start {
    width: 95%;
    margin: 0 auto;
    background: var(--box-bg);
    box-shadow: 1px 1px 4px var(--box-shadow-color);
    padding: 2px;
    border-radius: 6px;
    position: absolute;
    top: 43px;
    left: 10px;
    display: none;
    z-index: 5;
    max-height: 200px;
    overflow: auto;
}

.opshionCon-maghta,
.opshionCon-hour-item {
    transition: background ease 0.3s;
    height: 35px;

}

.opshionCon-maghta:hover {
    background: var(--theme-primary);
    color: var(--white-color);
}

.opshionCon-maghta p {
    margin: 0px 0;
}

.buildFrom-submit {
    width: 95%;
    background: var(--theme-primary);
    color: var(--white-color);
    border: none;
    height: 35px;
    border-radius: 10px;
    margin: 10px 0;
}

.show {
    display: block !important;
}


.anime {
    animation: fadeIn 0.3s ease-in-out;
}

.guide-popup {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 25%;
    height: 490px;
    background: var(--box-bg);
    border-radius: 8px;
    box-shadow: 2px 2px 6px var(--box-shadow-color);
    animation-name: popupShow;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.guide-popup__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;

}

@keyframes popupShow {
    from {
        top: -100%;
    }

    top {
        top: 10%;
    }
}

.guide-popup__meddel {
    width: 95%;
    margin: 1rem auto 0;
    height: 60%;
}

.popup__meddel-item {
    display: flex;
    align-items: center;
    margin-top: 5px;

}

.popup__meddel-item p {
    margin: 0;
    margin-right: 5px;
}

.circle {
    min-width: 8px;
    min-height: 8px;
    background: var(--theme-primary);
    border-radius: 100%;
}

.guide-popup__bottom {
    height: 10%;
    display: flex;
    justify-content: center;
}

.popup__bottom-BTN {
    width: 95%;
    border: none;
    color: var(--white-color);
    background: var(--theme-primary);
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    height: 30px;
    cursor: pointer;
    margin: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}
/* ریسپانسیو سازی */
@media only screen and (max-width:1024px) {
    .buildFrom {
        width: 40%;
    }

    .guide-popup {
        left: 25%;
        width: 35%;
    }
}

@media only screen and (max-width:768px) {
    .buildFrom {
        width: 65%;
    }

    .guide-popup {
        width: 45%;
        left: 20%;
    }
}

@media only screen and (max-width:425px) {
    .guide-popup {
        width: 75%;
        left: 12%;
    }
}

@media only screen and (max-width:320px) {
    .guide-popup {
        width: 90%;
        left: 5%;
    }
}