.main-conteyner {
    width: 95%;
    margin: 2rem auto;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}

.main-conteyner__right,
.main-conteyner__left {
    width: 25%;
    background-color: var(--box-bg);
    border-radius: 8px;
    height: 400px;
    box-shadow: 1px 1px 6px var(--box-shadow-color), -1px -1px 6px var(--box-shadow-color);
    overflow-y: auto;
}

.conteyner__right-header,
.conteyner__left-header {
    font-weight: 600;
    padding-right: 10px;
    border-bottom: 1px solid var(--box-shadow-color);
}

.conteyner__right-meddel,
.conteyner__left-meddel {
    margin-top: 0.5rem;
}

.right-meddel__items,
.left-meddel__items {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding: 0 5px;
    border-radius: 8px;
    height: 40px;
    margin-bottom: 5px;
    transition: all ease 0.3s;
    cursor: pointer;
    border-bottom: 1px solid var(--box-shadow-color);
}

.right-meddel__items .bi,
.left-meddel__items .bi {
    transition: all ease 0.3s;
}

.right-meddel__items:hover,
.left-meddel__items:hover {
    background-color: var(--secondary-color);
}

.right-meddel__items:hover .bi,
.left-meddel__items:hover .bi {
    color: var(--theme-primary);
}

.right-meddel__items p,
.left-meddel__items p {
    margin: 0;
}

.right-meddel__items .bi,
.left-meddel__items .bi {
    height: 18px;

}

@media only screen and (max-width:768px) {
    body {
        overflow-y: auto !important;
    }

    menu {
        height: 935px;
    }

    .main-conteyner {
        flex-direction: column;
        align-items: center;
    }

    .main-conteyner__left,
    .main-conteyner__right {
        width: 85%;
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 425px) {

    .main-conteyner__left,
    .main-conteyner__right {
        width: 100%;
    }
}