.conteyner {
    width: 100%;
    display: flex;
    justify-content: center;
}

menu {
    width: 17%;
    height: 865px;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 15px;
    box-shadow: 3px 3px 8px 3px #00000010, -3px -3px 8px -3px #00000010;
    margin-right: 1rem;
    padding: 0 10px;
    transition: width 0.3s linear, right 0.3s ease;
}

.menu-berand {
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    font-size: 26px;
}

.menu-berand p {
    margin: 0;
}


.menu-item {
    cursor: pointer;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 6px;
    border-radius: 10px;
    transition: all ease 0.3s;
}

main {
    width: 83%;
}

header {
    width: 95%;
    height: 75px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 8px 3px #00000010, -3px -3px 8px -3px #00000010;
    font-size: 20px;
}

.header-right {
    margin-right: 20px;
    height: 64px;
    display: flex;
}

.user-profile {
    width: 64px;
    height: 64px;
    border-radius: 32px;
}

.userName {
    margin-right: 15px;
    font-size: 16px;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.bi {
    margin-left: 10px;
    transition: 0.2s;
}

.main-conteyner {
    width: 95%;
    margin: 2rem auto;
    /* background-color: var(--box-bg); */
    border-radius: 8px;
    /* box-shadow: 1px 1px 4px var(--box-shadow-color),-1px -1px 4px var(--box-shadow-color); */
    display: flex;
    justify-content: space-around;
}

.main-conteyner__right,
.main-conteyner__left {
    width: 25%;
    background-color: var(--box-bg);
    border-radius: 8px;
    height: 400px;
    box-shadow: 1px 1px 6px var(--box-shadow-color), -1px -1px 6px var(--box-shadow-color);
}

.conteyner__right-header,
.conteyner__left-header {
    font-weight: 600;
    padding-right: 10px;
    border-bottom: 1px solid var(--box-shadow-color);
}

.conteyner__right-meddel,
.conteyner__left-meddel {
    margin-top: 0.5rem;
}

.right-meddel__items,
.left-meddel__items {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    padding: 0 5px;
    border-radius: 8px;
    height: 40px;
    margin-bottom: 5px;
    transition: all ease 0.3s;
    cursor: pointer;
    border-bottom: 1px solid var(--box-shadow-color);
}

.right-meddel__items .bi,
.left-meddel__items .bi {
    transition: all ease 0.3s;
}

.right-meddel__items:hover,
.left-meddel__items:hover {
    background-color: var(--secondary-color);
}

.right-meddel__items:hover .bi,
.left-meddel__items:hover .bi {
    color: var(--theme-primary);
}

.right-meddel__items p,
.left-meddel__items p {
    margin: 0;
}

.right-meddel__items .bi,
.left-meddel__items .bi {
    height: 18px;
}