<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="UzoYiDXkh9I2vIWBpw9H0J6eMrfJ_Z4L_GHR__tMTCo" />
    <meta name="msvalidate.01" content="A0D8CC9AD7E9AF959FCCDB21BA445229" />
    <link rel="stylesheet" href="/setting/css/setting.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/Quick-access/menu/css/menu-style.css">
    <link rel="stylesheet" href="/Dashboard/delay/css/delay-style.css">
    <link rel="shortcut icon" href="/imag/fa-icon.png" type="image/x-icon">
    <title>برنادا</title>
</head>

<body>
    <div class="conteyner">
        <!-- menu -->
        <menu-panel></menu-panel>
        <!-- menu End! -->
        <!-- main -->
        <main>
            <header-panel></header-panel>
            <div class="main-conteyner">
                <div class="main-conteyner__head">
                    <p>کار های عقب افتاده</p>
                </div>
                <div class="main-conteyner__meddel">
                    <table>
                        <thead>
                            <tr>
                                <th>روز</th>
                                <th>شروع</th>
                                <th>پایان</th>
                                <th>وظیفه</th>
                            </tr>
                        </thead>
                        <tbody class="opartorashon">

                        </tbody>
                    </table>
                    <div class="bikari">
                        <p>امروز برای استراحته</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- main End! -->
        <thme-user></thme-user>
        <script src="/components/theme/script/theme.js"></script>
        <script src="/components/panel-menu/script/panelMenu.js"></script>
        <script src="/components/panel-header/script/panelHeader.js"></script>
        <script src="/setting/js/themeSet.js"></script>
        <script src="/setting/js/setting.js"></script>
        <script type="module" src="/Dashboard/delay/js/delay-script.js"></script>
        <script src="/setting/js/DashControl.js"></script>
</body>

</html>