.sectionTwo,
.sectionTree,
.sectionFuor,
.sectionFive {
    display: flex;
    margin-top: 6rem;
    margin-right: 5%;
}

.sectionTwo-left {
    width: 50%;
}

.sectionTwo-left__head h3 {
    margin: 3px;
}

.line-bottom {
    height: 4px;
    /* width: 20%; */
    background: var(--theme-primary);
    border-radius: 8px;
}

.One {
    width: 11%;
}

.Two {
    width: 22%;
}

.Tree {
    width: 15%;
}

.Five {
    width: 25%;
}

.sectionTwo-left__capshion {
    width: 50%;
    text-align: justify;
    font-size: 18px;
}

.sectionTwo-right,
.sectionTree-right,
.sectionFuor-right,
.sectionFive-right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTree-left,
.sectionFuor-left,
.sectionFive-left {
    width: 50%;
}

.sectionTree-left__head h3,
.sectionFuor-left__head h3,
.sectionFive-left__head h3 {
    margin: 3px 0;
}

.sectionTree-left__capshion,
.sectionFuor-left__capshion,
.sectionFive-left__capshion {
    width: 50%;
    font-size: 18px;
    text-align: justify;
}

.sectionTree-left__capshion p,
.sectionFuor-left__capshion p,
.sectionFive-left__capshion p {
    margin: 3px;
}

.bold-text {
    font-weight: 600;
    font-size: 17px;
    margin-top: 0.5rem !important;
}


.boardIMG {
    width: 250px;
    margin-left: 50%;
}

.books {
    margin-left: 40%;
}

.clock {
    margin-left: 50%;
}

.logo {
    margin-left: 50%;
    display: flex;
    font-size: 72px;
    font-weight: 600;
}
.logo-color{
    color: var(--theme-primary);
}

@media only screen and (max-width:1024px) {

    .sectionTwo-left__capshion,
    .sectionTree-left__capshion,
    .sectionFuor-left__capshion,
    .sectionFive-left__capshion {
        width: 80%;
    }

    .orgFooter-rowTwo p {
        width: 40%;
    }

    .One {
        width: 21%;
    }

    .Two {
        width: 41%;
    }

    .Tree {
        width: 29%;
    }

    .Five {
        width: 46%;
    }
}

@media only screen and (max-width:768px) {

    .sectionTwo,
    .sectionTree,
    .sectionFuor,
    .sectionFive {
        flex-direction: column;
    }

    .sectionTree,
    .sectionFuor {
        flex-direction: column-reverse;
    }

    .logo,
    .boardIMG,
    .books,
    .clock {
        margin: 0;
        margin-top: 1rem;
    }

    .sectionTwo-right,
    .sectionTree-right,
    .sectionFuor-right,
    .sectionFive-right {
        width: 100%;

    }


    .sectionTwo-left,
    .sectionTree-left,
    .sectionFuor-left,
    .sectionFive-left {
        width: 100%;
        text-align: center !important;
    }

    .line-bottom {
        width: 80% !important;
        margin: 0 auto;
    }

    .sectionTwo-left__capshion,
    .sectionTree-left__capshion,
    .sectionFuor-left__capshion,
    .sectionFive-left__capshion {
        width: 100%;
        text-align: center;
    }

    .orgFooter-rowTwo p {
        width: 55%;
    }
}

@media only screen and (max-width:425px) {
    .orgFooter-rowTwo p {
        width: 95%;
    }
}

@media only screen and (max-width:320px) {
    footer {
        height: 341px;
    }
}