<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="UzoYiDXkh9I2vIWBpw9H0J6eMrfJ_Z4L_GHR__tMTCo" />
    <meta name="msvalidate.01" content="A0D8CC9AD7E9AF959FCCDB21BA445229" />
    <meta name="description"
        content="درباره برنادا، پلتفرم برنامه‌ریزی درسی برای دانش‌آموزان ابتدایی، متوسطه اول و دوم. برنادا با هدف بهبود عملکرد تحصیلی و کمک به مدیریت زمان، به شما کمک می‌کند تا به بهترین نحو از زمان خود بهره ببرید.">
    <meta name="keywords"
        content="درباره برنادا, برنامه‌ریز درسی, مدیریت زمان, دانش‌آموزان, پلتفرم برنامه‌ریزی, برنادا, برنادا چیست, یادگیری و تحصیل">
    <meta property="og:title" content="برنادا | درباره ما">
    <meta property="og:description"
        content="آشنایی با برنادا و اهداف آن. برنادا یک پلتفرم برنامه‌ریزی درسی است که برای کمک به دانش‌آموزان در تمام مقاطع تحصیلی طراحی شده است.">
    <meta property="og:url" content="https://bernada.ir/aboutMe">
    <meta property="og:type" content="website">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/Quick-access/landing/landing-style.css">
    <link rel="stylesheet" href="/setting/css/setting.css">
    <link rel="stylesheet" href="/abuteMe/css/abuteMe.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="/imag/fa-icon.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <title>برنادا | درباره ما</title>

</head>

<body>
    <div class="conteyner">
        <!-- header -->
        <header>
            <div class="header-right">
                <div class="berand" href="/">
                    <p>بِرنا</p>
                    <p class="berand-color">دا</p>
                </div>

            </div>
            <div class="header-meddel">
                <a href="/aboutMe" class="header-meddel__item">درباره ما</a>
                <a href="/link" class="header-meddel__item">ارتباط با ما</a>
                <a href="/guide" class="header-meddel__item">راهنما</a>
            </div>
            <div class="header-left">
                <a href="/register" class="loginBTN">ثبت نام | ورود</a>
            </div>
        </header>
        <!-- header End! -->
        <!-- main -->
        <main>
            <section class="sectionOne">
                <h1>درباره برنادا</h1>
                <div class="line-bottom One"></div>
            </section>
            <section class="sectionTwo">
                <div class="sectionTwo-left">
                    <div class="sectionTwo-left__head">
                        <h3>برنامه‌ریزی درسی همیشه یه چالش بوده!</h3>
                        <div class="line-bottom Two"></div>
                    </div>
                    <div class="sectionTwo-left__capshion">
                        <p>خیلی از دانش‌آموزا می‌دونن که داشتن یه برنامه‌ی منظم چقدر توی پیشرفت تحصیلیشون تأثیر داره،
                            اما مشکل اینجاست که چطور یه برنامه‌ریزی درست داشته باشن؟ خیلی از سایت‌ها راهنمایی‌هایی برای
                            برنامه‌ریزی ارائه میدن یا ابزارهایی برای ساخت برنامه دارن، اما برنادا مسیر متفاوتی رو انتخاب
                            کرده!</p>
                    </div>
                </div>
                <div class="sectionTwo-right">
                    <div class="sectionTwo-left__head">
                        <h3>برنادا چیه و چطور کمکتون می‌کنه؟</h3>
                        <div class="line-bottom Tree"></div>
                    </div>
                    <div class="sectionTwo-left__capshion">
                        <p>برنادا یه ساده‌ست که برای دانش‌آموزای ابتدایی، متوسطه اول و متوسطه دوم
                            (رشته‌های نظری) برنامه‌ی درسی آماده می‌کنه.</p>
                        <p class="boldtext">نیازی نیست ساعت‌ها وقت بذارین و خودتون برنامه تنظیم کنین.</p>
                        <p class="boldtext">فقط کافیه ساعت شروع مطالعه رو مشخص کنین، بقیه‌ی کارها رو ما انجام می‌دیم!
                        </p>
                        <p class="boldtext">یه برنامه‌ی استاندارد و متعادل می‌گیرید که توش همه‌ی درس‌هات در نظر گرفته
                            شده.</p>
                    </div>
                </div>
            </section>
            <section class="sectionTree">
                <div class="sectionTree-left">
                    <div class="sectionTree-left__head">
                        <h3>چرا برنادا؟</h3>
                        <div class="line-bottom fuor"></div>
                    </div>
                    <div class="sectionTree-left__capshion">
                        <p class="boldtext">چون سریع و بدون دردسر برنامه‌ریزی می‌کنه.</p>
                        <p class="boldtext">چون برنامه‌ها اصولی و کاربردی هستن، نه فقط یه لیست از درس‌ها.</p>
                        <p class="boldtext">چون توی سادگی و کارایی تفاوت داره و بدون پیچیدگی، فقط با تنظیم یه ساعت،
                            برنامه آماده می‌شه.
                        </p>
                    </div>
                </div>
                <div class="sectionTree-right">
                    <div class="sectionTree-left__head">
                        <h3>پشت نام برنادا</h3>
                        <div class="line-bottom five"></div>
                    </div>
                    <div class="sectionTree-left__capshion">
                        <p>اسم برنادا از ترکیب سه مفهوم مهم در زمینه تحصیل و یادگیری گرفته شده:</p>
                        <p class="boldtext"> برنامه‌ریزی</p>
                        <p class="boldtext">درس</p>
                        <p class="boldtext">دانش‌آموز</p>
                        <p>این نام نماد یه فرآیند منظم و هوشمند برای یادگیری هست که به دانش‌آموزا کمک می‌کنه با کمترین
                            زمان و بیشترین بهره‌وری، بهترین نتیجه رو بگیرن.</p>
                    </div>
                </div>
            </section>
            <section class="sectionfuor">
                <div class="sectionfuor-left">
                    <div class="sectionfuor-left__head">
                        <h3>چطور برنادا شروع شد؟</h3>
                        <div class="line-bottom six"></div>
                    </div>
                    <div class="sectionfuor-left__capshion">
                        <p>برنادا در ابتدا به‌عنوان یه پروژه برای مسابقات طراحی سایت شکل گرفت، اما ایده‌ی پشتش چیزی
                            فراتر از یه رقابته! این پلتفرم با هدف ارائه‌ی یک راه‌حل ساده و کاربردی برای برنامه‌ریزی درسی
                            ساخته شد و می‌تونه با حمایت و استقبال کاربران، به یه ابزار کامل‌تر و گسترده‌تر تبدیل بشه.
                        </p>
                        <p>من، ابوالفضل محسنی، توسعه‌دهنده‌ی برنادا، این مسیر رو شروع کردم چون معتقدم که برنامه‌ریزی
                            اصولی نباید پیچیده باشه. برنادا اینجاست تا درس خوندن رو برای همه‌ی دانش‌آموزا راحت‌تر کنه.
                        </p>
                    </div>
                </div>
                <div class="sectionfuor-right">
                    <div class="sectionfuor-left__head">
                        <h3>شعار ما:</h3>
                        <div class="line-bottom seven"></div>
                    </div>
                    <div class="sectionfuor-left__capshion">
                        <p class="boldtext">"درس خوندن با برنادا، ساده‌تر از همیشه!"</p>
                        <p>پس وقتو تلف نکن، بیا و یه برنامه‌ی حرفه‌ای برای درس‌هات بگیر! </p>
                    </div>
                </div>
            </section>
        </main>
        <!-- main End! -->
        <!-- footer -->
        <footer>
            <div class="footer-top">
                <div class="footer-right">
                    <div class="footer-right__rowOne">
                        <div class="footer-berand">
                            <p>بِرنا</p>
                            <p class="berand-color">دا</p>
                        </div>
                    </div>
                    <div class="footer-right__link">
                        <div class="right__link-items">
                            <div class="circle"></div>
                            <a href="/aboutMe" class="header-meddel__item">درباره ما</a>
                        </div>
                        <div class="right__link-items">
                            <div class="circle"></div>
                            <a href="/link" class="header-meddel__item">ارتباط با ما</a>
                        </div>
                        <div class="right__link-items">
                            <div class="circle"></div>
                            <a href="/register" class="header-meddel__item">ثبت نام</a>
                        </div>
                        <div class="right__link-items">
                            <div class="circle"></div>
                            <a href="/guide" class="header-meddel__item">راهنما</a>
                        </div>
                    </div>
                </div>
                <div class="footer-meddel">
                    <div class="orgFooter">

                        <div class="orgFooter-rowTwo">
                            <p>بِرنادا یک پلتفرم برنامه‌ریزی درسی است که به دانش‌آموزان ابتدایی، متوسطه اول و دوم در
                                رشته‌های
                                ریاضی، تجربی و انسانی کمک می‌کند تا با یک برنامه اصولی، از زمان خود بهترین استفاده را
                                ببرند.
                                با
                                برنادا، مطالعه‌ای منظم و هدفمند را تجربه کنید! </p>
                        </div>
                        <div class="orgFooter-rowTree">
                            <p>همین حالا شروع کن!</p>
                            <a href="/register">ثبت نام</a>
                        </div>
                    </div>
                </div>
                <div class="footer-left">
                    <div class="footer-left__logo">
                        <img src="/imag/logo.png" alt="لوگوی برنادا">
                    </div>
                    <div class="footer-left__logo">
                        <img src="/imag/amozesh-logo.png" alt="لوگوی اموزش و پرورش استان">
                    </div>
                    <div class="footer-left__logo">
                        <img src="/imag/pazhohesh-logo.png" alt="لوگوی پروژهش سرا">
                    </div>
                </div>
            </div>
            <div class="btFooter">
                <p>طراحی و اجرا این پروژه توسط <a href="https://itabolfazlmohseni.ir">ابوالفضل محسنی </a>انجام شده است.
                </p>
            </div>
        </footer>
        <!-- footer End! -->
    </div>
    <thme-user></thme-user>
    <script src="/components/theme/script/theme.js"></script>
    <script src="/setting/js/themeSet.js"></script>
</body>

</html>