<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://bernada.ir">
    <meta property="og:type" content="website">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/setting/css/setting.css">
    <link rel="stylesheet" href="/abuteMe/css/abuteMe.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="/imag/fa-icon.png" type="image/x-icon">
    <meta name="google-site-verification" content="UzoYiDXkh9I2vIWBpw9H0J6eMrfJ_Z4L_GHR__tMTCo" />
    <meta name="msvalidate.01" content="A0D8CC9AD7E9AF959FCCDB21BA445229" />
    <title>برنادا|درباره ما</title>
</head>

<body>
    <div class="conteyner">
        <header>
            <div class="header-right">
                <div class="berand">
                    <p>بِرنا</p>
                    <p class="berand-color">دا</p>
                </div>
                <div class="header-right__item">
                    <a href="/aboutMe">درباره ما</a>
                    <a href="/link">ارتباط با ما</a>
                    <a href="/guide">راهنما</a>
                </div>
            </div>
            <div class="header-left">
                <a href="/register" class="loginBTN">ثبت نام | ورود</a>
            </div>
        </header>
        <main>
            <h1>درباره برنادا</h1>
            <section class="sectionTwo">
                <div class="sectionTwo-left">
                    <div class="sectionTwo-left__head">
                        <h3>برنامه‌ریزی درسی همیشه یه چالش بوده!</h3>
                        <div class="line-bottom One"></div>
                    </div>
                    <div class="sectionTwo-left__capshion">
                        <p>خیلی از دانش‌آموزا می‌دونن که داشتن یه برنامه‌ی منظم چقدر توی پیشرفت تحصیلیشون تأثیر داره،
                            اما مشکل اینجاست که چطور یه برنامه‌ریزی درست داشته باشن؟ خیلی از سایت‌ها راهنمایی‌هایی برای
                            برنامه‌ریزی ارائه میدن یا ابزارهایی برای ساخت برنامه دارن، اما برنادا مسیر متفاوتی رو انتخاب
                            کرده!</p>
                    </div>
                </div>
                <div class="sectionTwo-right">
                    <div class="sectionTwo-left__head">
                        <h3>برنادا چیه و چطور کمکتون می‌کنه؟</h3>
                        <div class="line-bottom One"></div>
                    </div>
                    <div class="sectionTwo-left__capshion">
                        <p>برنادا یه ساده‌ست که برای دانش‌آموزای ابتدایی، متوسطه اول و متوسطه دوم
                            (رشته‌های نظری) برنامه‌ی درسی آماده می‌کنه.</p>
                        <p>نیازی نیست ساعت‌ها وقت بذارین و خودتون برنامه تنظیم کنین.</p>
                        <p>فقط کافیه ساعت شروع مطالعه رو مشخص کنین، بقیه‌ی کارها رو ما انجام می‌دیم!</p>
                        <p>یه برنامه‌ی استاندارد و متعادل می‌گیرید که توش همه‌ی درس‌هات در نظر گرفته شده.</p>
                    </div>
                </div>
            </section>
            <section class="sectionTree">
                <div class="sectionTree-left">
                    <div class="sectionTree-left__head">
                        <h3>چرا برنادا؟</h3>
                        <div class="line-bottom Two"></div>
                    </div>
                    <div class="sectionTree-left__capshion">
                        <p>چون سریع و بدون دردسر برنامه‌ریزی می‌کنه.</p>
                        <p>چون برنامه‌ها اصولی و کاربردی هستن، نه فقط یه لیست از درس‌ها.</p>
                        <p>چون توی سادگی و کارایی تفاوت داره و بدون پیچیدگی، فقط با تنظیم یه ساعت، برنامه آماده می‌شه.
                        </p>
                    </div>
                </div>
                <div class="sectionTree-right">
                    <div class="sectionTree-left__head">
                        <h3>پشت نام برنادا</h3>
                        <div class="line-bottom One"></div>
                    </div>
                    <div class="sectionTree-left__capshion">
                        <p>اسم برنادا از ترکیب سه مفهوم مهم در زمینه تحصیل و یادگیری گرفته شده:</p>
                        <p> برنامه‌ریزی</p>
                        <p>درس</p>
                        <p>دانش‌آموز</p>
                        <p>این نام نماد یه فرآیند منظم و هوشمند برای یادگیری هست که به دانش‌آموزا کمک می‌کنه با کمترین
                            زمان و بیشترین بهره‌وری، بهترین نتیجه رو بگیرن.</p>
                    </div>
                </div>
            </section>
            <section class="sectionfuor">
                <div class="sectionfuor-left">
                    <div class="sectionfuor-left__head">
                        <h3>چطور برنادا شروع شد؟</h3>
                        <div class="line-bottom One"></div>
                    </div>
                    <div class="sectionfuor-left__capshion">
                        <p>برنادا در ابتدا به‌عنوان یه پروژه برای مسابقات طراحی سایت شکل گرفت، اما ایده‌ی پشتش چیزی
                            فراتر از یه رقابته! این پلتفرم با هدف ارائه‌ی یک راه‌حل ساده و کاربردی برای برنامه‌ریزی درسی
                            ساخته شد و می‌تونه با حمایت و استقبال کاربران، به یه ابزار کامل‌تر و گسترده‌تر تبدیل بشه.
                        </p>
                        <p>من، ابوالفضل محسنی، توسعه‌دهنده‌ی برنادا، این مسیر رو شروع کردم چون معتقدم که برنامه‌ریزی
                            اصولی نباید پیچیده باشه. برنادا اینجاست تا درس خوندن رو برای همه‌ی دانش‌آموزا راحت‌تر کنه.
                        </p>
                    </div>
                </div>
                <div class="sectionfuor-right">
                    <div class="sectionfuor-left__head">
                        <h3>شعار ما:</h3>
                        <div class="line-bottom One"></div>
                    </div>
                    <div class="sectionfuor-left__capshion">
                        <p>"درس خوندن با برنادا، ساده‌تر از همیشه!"</p>
                        <p>پس وقتو تلف نکن، بیا و یه برنامه‌ی حرفه‌ای برای درس‌هات بگیر! </p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

</html>