<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="UzoYiDXkh9I2vIWBpw9H0J6eMrfJ_Z4L_GHR__tMTCo" />
    <meta name="msvalidate.01" content="A0D8CC9AD7E9AF959FCCDB21BA445229" />
    <meta name="description"
        content="راهنمای استفاده از پلتفرم برنادا برای برنامه‌ریزی درسی دانش‌آموزان ابتدایی، متوسطه اول و دوم. نحوه ساخت برنامه درسی و استفاده از امکانات سایت را اینجا بیاموزید.">
    <meta name="keywords"
        content="راهنمای استفاده, ساخت برنامه درسی, برنامه‌ریز درسی, برنادا, آموزش برنادا, برنامه‌ریزی برای دانش‌آموزان, نحوه استفاده از برنادا">
    <meta property="og:title" content="برنادا | راهنمای استفاده از پلتفرم برنامه‌ریزی درسی">
    <meta property="og:description"
        content="با این راهنما، نحوه استفاده از برنادا برای ساخت برنامه درسی هوشمند و منظم را یاد بگیرید. مناسب برای دانش‌آموزان در تمام مقاطع تحصیلی.">
    <meta property="og:url" content="https://bernada.ir/guide">
    <meta property="og:type" content="website">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/Quick-access/landing/landing-style.css">
    <link rel="stylesheet" href="/setting/css/setting.css">
    <link rel="stylesheet" href="/guide/css/guide-style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="shortcut icon" href="/imag/fa-icon.png" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <title>برنادا | راهنمای استفاده از پلتفرم برنامه‌ریزی درسی</title>

</head>

<body>

    <div class="conteyner">
           <!-- اضافه کردن هدر -->
           <menu-user></menu-user>
           <!-- اضافه کردن هدر -->
        <!-- main -->
        <main>
            <section class="sectionOne">
                <h1>راهنمای استفاده از برنادا</h1>
                <div class="border-bottom One"></div>
            </section>
            <div class="titel">
                <h2>ساخت برنامه درسی</h2>
                <div class="border-bottom Two"></div>
            </div>
            <section class="sectionTwo">
                <div class="sectionTwo-right">
                    <div class="sectionTwo-right__header">
                        <h3>مقطع تحصیلی</h3>
                        <div class="border-bottom Tree"></div>
                    </div>
                    <div class="sectionTwo-right__capshion">
                        <p>ابتدا مقطع تحصیلی خود را انتخاب کنید:</p>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>ابتدایی</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>متوسطه اول</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>متوسطه دوم</p>
                        </div>
                    </div>
                </div>
                <div class="sectionTwo-left">
                    <div class="sectionTwo-left__header">
                        <h3>پایه تحصیلی</h3>
                        <div class="border-bottom four"></div>
                    </div>
                    <div class="sectionTwo-left__capshion">
                        <p>در این مرحله، پایه تحصیلی خود را مشخص کنید (مثلاً ششم ابتدایی، نهم متوسطه اول یا یازدهم
                            متوسطه دوم).</p>
                    </div>
                </div>
            </section>
            <section class="sectionTree">
                <div class="sectionTree-right">
                    <div class="sectionTree-right__header">
                        <h3>رشته تحصیلی (در صورت داشتن)</h3>
                        <div class="border-bottom five"></div>
                    </div>
                    <div class="sectionTree-right__capshion">
                        <p>در صورت تحصیل در متوسطه دوم، رشته تحصیلی خود را مشخص کنید. رشته‌های نظری شامل:</p>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>انسانی</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>ریاضی</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>تجربی</p>
                        </div>
                    </div>
                </div>
                <div class="sectionTree-left">
                    <div class="sectionTree-left__header">
                        <h3>ساعات مطالعه</h3>
                        <div class="border-bottom six"></div>
                    </div>
                    <div class="sectionTree-left__capshion">
                        <p>شما می‌توانید یکی از چهار گزینه زیر را برای ساعات مطالعه روزانه خود انتخاب کنید</p>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>2 ساعتی</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>4 ساعتی</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>6 ساعتی</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>12 ساعتی</p>
                        </div>
                        <p class="bold-text">توجه: زمان‌های استراحت در این ساعت‌ها محاسبه نمی‌شوند، اما در برنامه
                            به‌صورت اصولی در نظر گرفته شده‌اند تا کارایی مطالعه شما افزایش پیدا کند.</p>
                    </div>
                </div>
            </section>
            <section class="sectionFour">
                <div class="sectionFour-right">
                    <div class="sectionFour-right__header">
                        <h3>ساعت شروع مطالعه</h3>
                        <div class="border-bottom seven"></div>
                    </div>
                    <div class="sectionFour-right__capshion">
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>شما می‌توانید تعیین کنید که برنامه درسی از چه ساعتی آغاز شود.</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>برنامه از ساعت انتخابی شما شروع شده و به مدت انتخاب‌شده (۲، ۴، ۶ یا ۱۲ ساعت) ادامه خواهد
                                داشت.</p>
                        </div>
                        <p>مثال: اگر ساعت ۳ بعدازظهر را به‌عنوان شروع انتخاب کنید و برنامه‌ی ۴ ساعتی داشته باشید،
                            برنامه‌ی شما تا ساعت ۷ عصر ادامه خواهد داشت.</p>
                    </div>
                </div>
                <div class="sectionFour-left">
                    <div class="sectionFour-left__header">
                        <h3> دریافت و مشاهده برنامه درسی</h3>
                        <div class="border-bottom eight"></div>
                    </div>
                    <div class="sectionFour-left__capshion">
                        <p>بعد از تنظیم اطلاعات، روی دکمه "دریافت برنامه" کلیک کنید. برنامه‌ی شما به‌طور هوشمند و اصولی
                            تنظیم شده و شامل تمام درس‌های موردنیاز شما خواهد بود.</p>
                        <h4>ویژگی های برنامه</h4>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>درس‌ها بر اساس اهمیت و نیاز شما چیده شده‌اند.</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>زمان‌بندی دقیق برای مطالعه و استراحت در نظر گرفته شده است.</p>
                        </div>
                        <div class="right__capshion-item">
                            <div class="circle"></div>
                            <p>تمامی برنامه‌ها طبق اصول علمی طراحی شده‌اند تا بازدهی شما را افزایش دهند.</p>
                        </div>
                    </div>
                </div>
            </section>

            <div class="titel">
                <h2>سوالات متداول</h2>
                <div class="border-bottom nin"></div>
            </div>
            <section class="sectionFive">
                <div class="acarseion">
                    <div class="titel-box">
                        <p class="title">آیا می‌توانم برنامه را شخصی‌سازی کنم؟</p>
                        <i class="bi bi-caret-left-fill"></i>
                    </div>
                    <div class="capshon-box none">
                        <p>خیر، در حال حاضر امکان تغییر دستی برنامه وجود ندارد. اما می‌توانید ساعات مطالعه و زمان شروع
                            را تعیین کنید تا برنامه متناسب با نیاز شما ایجاد شود.</p>
                    </div>
                </div>
                <div class="acarseion">
                    <div class="titel-box">
                        <p class="title"> آیا می‌توانم برنامه‌ی خود را تغییر دهم؟</p>
                        <i class="bi bi-caret-left-fill"></i>
                    </div>
                    <div class="capshon-box none">
                        <p>بله با ساخت برنامه جدید برنامه قدیمی شما حذف میشود و برنامه جدید جایگزین میشود</p>
                    </div>
                </div>
                <div class="acarseion">
                    <div class="titel-box">
                        <p class="title">آیا برنادا کاملاً رایگان است؟</p>
                        <i class="bi bi-caret-left-fill"></i>
                    </div>
                    <div class="capshon-box none">
                        <p>در حال حاضر، برنادا به‌عنوان یک پروژه آزمایشی برای شرکت در مسابقات طراحی سایت ارائه شده است.
                            در صورت دریافت حمایت و استقبال کاربران، توسعه‌ی آن ادامه خواهد داشت.</p>
                    </div>
                </div>

            </section>

        </main>
        <!-- main End -->
     <!-- اضافه کردن فوتر -->
     <footer-user></footer-user>
     <!-- اضافه کردن فوتر -->
 <!-- اضافه کردن دکمه و پاپ اپ تم -->
 <theme-user></theme-user>
 <!-- اضافه کردن دکمه و پاپ اپ تم -->
    <script type="module" src="/components/js/addComponents.js"></script>
    <script src="/setting/js/themeSet.js" defer></script>
    <script src="/guide/js/guide-script.js"></script>



</body>

</html>