<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="conteyner">
        <header>
            <div class="header-right">
                <div class="berand">
                    <p>بِرنا</p>
                    <p class="berand-color">دا</p>
                </div>
                <div class="header-right__item">
                    <a href="/aboutMe">درباره ما</a>
                    <a href="/link">ارتباط با ما</a>
                    <a href="/guide">راهنما</a>
                </div>
            </div>
            <div class="header-left">
                <a href="/register" class="loginBTN">ثبت نام | ورود</a>
            </div>
        </header>
        <main>
            ارتباط با ما
"ما همیشه اینجا هستیم تا به شما کمک کنیم!"
در برنادا، ما همیشه آماده‌ایم که به سوالات شما پاسخ بدیم و نظرات شما رو بشنویم. اگر نیاز به کمک دارید یا سوالی دارید، از طریق روش‌های زیر می‌تونید با ما در ارتباط باشید. ما با کمال میل به شما پاسخ خواهیم داد!

اطلاعات تماس:
ایمیل: support@bernada.com

تلفن: +98 21 1234 5678

فرم تماس:
اگر دوست دارید به سرعت با ما ارتباط برقرار کنید، لطفاً فرم زیر رو پر کنید و پیام خودتون رو ارسال کنید. ما در اولین فرصت به شما پاسخ خواهیم داد.

نام و نام خانوادگی

شماره تماس

موضوع پیام

متن پیام

ما رو در شبکه‌های اجتماعی پیدا کنید:
اینستاگرام: @BernadaApp

لینکدین: BernadaApp
        </main>
    </div>
</body>

</html>