/* کد های بخش main */
.sectionOne {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionOne h1 {
    margin: 0;
}

.line-bottom {
    height: 4px;
    background: var(--theme-primary);
    border-radius: 8px;
    margin-top: 0.3rem;
}

.One {
    width: 12%;
}

.sectionTwo,
.sectionTree,
.sectionfuor {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 3rem auto 0;
}

.sectionTwo-left,
.sectionTree-left,
.sectionfuor-left,
.sectionTwo-right,
.sectionTree-right,
.sectionfuor-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionTwo-left__head h3,
.sectionTree-left__head h3,
.sectionfuor-left__head h3 {
    margin: 0;
}

.Two,
.Tree,
.fuor,
.five,
.six,
.seven {
    width: 100%;
}

.sectionTwo-left__capshion,
.sectionTree-left__capshion,
.sectionfuor-left__capshion {
    width: 64%;
    text-align: justify;
    font-size: 18px;

}

.sectionTwo-left__capshion p,
.sectionTree-left__capshion p,
.sectionfuor-left__capshion p {
    margin: 10px 0;
}




.sectionTwo-left__capshion p:not(:first-child) {

    width: 115%;
}


.sectionTree-left__capshion {
    width: 68%;
}

.boldtext {
    font-weight: 600;
    margin: 3px 0 !important;
}

/* ریسپانسیو سازی */
@media only screen and (max-width:768px) {

    .sectionTwo-left__capshion,
    .sectionTree-left__capshion,
    .sectionfuor-left__capshion {
        width: 90%;
    }

    .sectionTwo-left__capshion p:not(:first-child) {
        width: 100%;
    }
}

@media only screen and (max-width:425px) {

    .sectionTwo,
    .sectionTree,
    .sectionfuor {
        flex-direction: column;
    }

    .sectionTwo-left,
    .sectionTree-left,
    .sectionfuor-left,
    .sectionTwo-right,
    .sectionTree-right,
    .sectionfuor-right {
        width: 95%;
        margin: 0 auto 2rem;
    }

}