<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="UzoYiDXkh9I2vIWBpw9H0J6eMrfJ_Z4L_GHR__tMTCo" />
    <meta name="msvalidate.01" content="A0D8CC9AD7E9AF959FCCDB21BA445229" />
    <meta name="description"
        content="اکانت خود را در برنادا بسازید و از امکانات حرفه‌ای برنامه‌ریزی درسی برای دانش‌آموزان استفاده کنید.">
    <meta name="robots" content="noindex, nofollow" />
    <link rel="stylesheet" href="/setting/css/setting.css" />
    <link rel="stylesheet" href="/LoginRegister/css/login-style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="shortcut icon" href="/imag/fa-icon.png" type="image/x-icon">
    <title>ورود به برنادا | برنامه‌ریزی درسی حرفه ای</title>
</head>

<body class="themeblue">
    <div class="conteyner">
        <div class="login-form">

            <div class="loginForm-titel">
                <p>ورود به برنادا</p>
            </div>
            <form id="formLogin">
                <input type="number" placeholder="شماه همراه" class="userNumberPhone" />
                <div class="field password-container">
                    <input type="password" placeholder="گذرواژه" class="userPass">
                    <i id="togglePassword" class="bi bi-eye"></i>
                </div>
                <div class="noAcout">
                    <p>حسابی ندارید؟</p>
                    <a href="/register">ثبت نام کنید</a>
                </div>
                <input type="submit" value="ورود" />
            </form>
        </div>

    </div>
    <thme-user></thme-user>
    <script src="/components/theme/script/theme.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="module" src="/LoginRegister/js/login.js"></script>
    <script src="/setting/js/themeSet.js"></script>
</body>

</html>