<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="UzoYiDXkh9I2vIWBpw9H0J6eMrfJ_Z4L_GHR__tMTCo" />
    <meta name="msvalidate.01" content="A0D8CC9AD7E9AF959FCCDB21BA445229" />
    <meta name="description" content="وارد حساب کاربری خود در برنادا شوید و برنامه‌ریزی درسی حرفه‌ای را تجربه کنید." />
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="/LoginRegister/css/regester-style.css" />
    <link rel="stylesheet" href="/setting/css/setting.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="shortcut icon" href="/imag/fa-icon.png" type="image/x-icon">
    <title>ثبت نام در برنادا | برنامه‌ریزی درسی حرفه ای</title>
</head>

<body class="themeblue">
    <div class="conteyner">
        <div class="regesterForm">
            <div class="regesterForm-titel">
                <p>ثبت نام در برنادا</p>
            </div>
            <div class="regesterForm-form">
                <form>
                    <input type="text" placeholder="نام" class="userName input" />
                    <p class="errtext errtextName">مقدار نامعتبر</p>
                    <!-- <input type="text" placeholder="نام خانوادگی" class="userLastName input" />
                    <p class="errtext errtextLastname">مقدار نامعتبر</p> -->
                    <input type="number" placeholder="شماره همراه" class="userNumberPhone input" />
                    <p class="errtextNumberPhone errtext">شماره نامعتبر است</p>
                    <div class="field password-container">
                        <input type="password" placeholder="گذرواژه" class="userPass ">
                        <i id="togglePassword" class="bi bi-eye"></i>
                    </div>
                    <p class="charP">شامل 8 کاراکتر</p>
                    <p class="mixP">ترکیبی از حروف و عدد</p>
                    <div class="loginbox">
                        <p>حساب دارید؟</p><a href="/login">وارد شوید</a>
                    </div>
                    <input type="submit" value="ثبت نام">
                </form>
            </div>
        </div>
    </div>
    <thme-user></thme-user>
    <script src="/components/theme/script/theme.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="module" src="/LoginRegister/js/regester.js"></script>
    <script src="/setting/js/themeSet.js"></script>
</body>

</html>