body {
    margin: 0;
    padding: 0;
}

.conteyner {
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm-titel {
    font-size: 22px;
    text-align: center;
}

.login-form {
    width: 430px;
    height: 440px;
    background-color: var(--box-bg);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 8px 8px var(--box-shadow-color);
}

form {
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: space-around;
    align-items: center;
}

input[type="number"],
input[type="password"] {
    border: none;
    outline: none;
    font-size: 18px;
    width: 80%;
    height: 40px;
    border-radius: 13px;
    padding: 5px;
    border: 1px solid var(--box-shadow-color) !important;
    background-color: var(--box-bg) !important;
    color: var(--text-color) !important;
}

input[type="submit"] {
    width: 80%;
    height: 40px;
    background-color: var(--theme-primary) !important;
    color: var(--white-color) !important;
    border: none;
    border-radius: 15px;
}

.input {
    box-shadow: 1px 1px 4px 2px #00000020;
}

.noAcout {
    display: flex;
    align-items: center;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: var(--theme-primary);
    margin-right: 2px;
}

@media only screen and (max-width: 425px) {
    .login-form {
        width: 350px;
    }

    input[type=number],
    input[type="password"] {
        width: 90%;
    }
}

@media only screen and (max-width: 375px) {
    .login-form {
        width: 305px;
    }
}
