/* استایل های مربوط به فرم ثبت نام */
body {
    margin: 0;
    padding: 0;
}

.conteyner {
    width: 100%;
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.regesterForm {
    width: 500px;
    height: 510px;
    background: var(--box-bg);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 2px 2px 8px 8px var(--box-shadow-color) !important;
}

.regesterForm-titel {
    font-size: 22px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 410px;
    justify-content: space-around;
    align-items: center;
}


.password-container,
.input {
    border: none;
    outline: none;
    font-size: 18px;
    width: 80%;
    height: 40px;
    border-radius: 13px;
    padding: 5px;
    border: 1px solid var(--box-shadow-color) !important;
    background-color: var(--box-bg) !important;
    color: var(--text-color) !important;
}

.password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#togglePassword {
    margin-left: 5px;
    width: 6%;
}

.userPass {
    border: none;
    outline: none;
    width: 94%;
    background: var(--box-bg);
}

input[type="submit"] {
    width: 80%;
    height: 40px;
    color: var(--white-color) !important;
    background-color: var(--theme-primary) !important;
    border: none;
    border-radius: 15px;
}

select {
    border: none;
    outline: none;
    appearance: none;
    font-size: 19px;
    color: #707070;
    width: 80%;
    height: 40px;
    border-radius: 13px;
    padding: 5px;
}

.loginbox {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.loginbox a {
    text-decoration: none;
    color: var(--theme-primary) !important;
    margin-right: 2px;
}

.err {
    color: #d52027;
    box-shadow: 1px 1px 4px 2px #d5202750;

}

.errtext {
    margin: 0;
    color: #d52027;
    width: 79%;
    display: none;
}

.show {
    display: block !important;
}

.mixP,
.charP {
    display: none;
    margin: 1px;
    text-align: start;
    width: 79%;
}
/* ریسپاسیو سازی */
@media only screen and (max-width: 425px) {
    .regesterForm {
        width: 400px;
    }

    .input,
    .password-container {
        width: 90%;
    }
}

@media only screen and (max-width: 375px) {
    .regesterForm {
        width: 305px;
    }
}